body {
	padding: 0;
	margin: 0;
<<<<<<< Updated upstream
	background-color: #ffe5ea;
  font-family: sans-serif;
=======
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
>>>>>>> Stashed changes
}

.caja {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #f2e2e2;
	text-align: center;
	border:5px solid gray;
}
.caja h1 {
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}

.caja input[type = "text"], .caja input[type = "password"] {
	border:0;
	background:white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid gray;
	padding: 14px 10px;
	width: 200px;
	outline: none;
<<<<<<< Updated upstream
	color: #ffe5ea;
=======

>>>>>>> Stashed changes
}

.caja input[type = "submit"] {
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid gray;
	padding: 14px 40px;
	outline: none;
<<<<<<< Updated upstream
	color: #ffe5ea;
=======
>>>>>>> Stashed changes
	cursor: pointer;
}

.caja input[type = "submit"]:hover {
<<<<<<< Updated upstream
	background: #ffe5ea;
=======
	background: #f2f2f2;
>>>>>>> Stashed changes
}
